@page "/"
@inject NavigationManager nav
<PageTitle>Calendario</PageTitle>

@* @if(!LIN.Access.Calendar.Session.IsOpen)
{
    <div class="flex h-dvh w-full items-center justify-center">
        <Loader />
    </div>
    Task.Run(()=> nav.NavigateTo("/login"));
    return;
} *@

<div class="flex h-dvh w-full flex-grow flex-col items-center overflow-hidden px-4 lg:px-6">

    <div class="grid-cols-1 grid h-full w-full items-center justify-center gap-3 overflow-y-auto py-7 dl:overflow-y-hidden dl:grid-cols-2">

        @* Calendario *@
        <div class="flex w-full justify-center">
            <div class="w-full max-w-lg self-center">
                <LIN.Calendar.Client.Shared.Calendar eventos="eventos" OnClick="Filter" />
            </div>
        </div>

        @* Eventos *@
        <div class="mt-4 h-full w-full dl:mt-0">
            
            <div class="flex flex-col">
                <label class="text-5xl font-bold dark:text-zinc-200">Mis Eventos</label>
                <label class="text-2xl dark:text-zinc-400">Eventos Destacados</label>

                <button @onclick="()=>NewEvent.Show()" type="button" class="me-2 mt-3 w-max rounded-full bg-current-500 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-current-600 focus:outline-none focus:ring-4 focus:ring-current-300 dark:bg-current-600 dark:hover:bg-current-700 dark:focus:ring-current-800">Agregar nuevo evento</button>

            </div>

            <div class="flex w-full flex-col gap-3 py-3">

            @foreach(var e in renders)
            {

                    <div class="flex items-center rounded-lg bg-zinc-50 p-4 shadow-sm dark:bg-zinc-800">
                        <div class="flex w-full flex-col justify-center">
                            <label class="font-bold dark:text-zinc-300">@e.Nombre</label>
                            <label class="text-sm dark:text-zinc-400">@e.DateStart</label>
                        </div>
                    </div>


              
            }

            </div>
           
        </div>

    </div>

</div>

<LIN.Calendar.Client.Layout.DrawerPeople @ref="NewEvent" OnSuccess="OnSuccess"></LIN.Calendar.Client.Layout.DrawerPeople>

@code {
    LIN.Calendar.Client.Layout.DrawerPeople NewEvent;

    public List<Types.Calendar.Models.EventModel> eventos { get; set; } = new();
    public List<Types.Calendar.Models.EventModel> renders { get; set; } = new();



    protected override void OnInitialized()
    {
        A();
        base.OnInitialized();
    }

    async void A()
    {
        var token = LIN.Access.Calendar.Session.Instance.Token;
        var x = await Access.Calendar.Controllers.Events.ReadAll(token);

        eventos = x.Models;
        StateHasChanged();
    }


    void Filter(DateTime date)
    {
        renders = eventos.Where(t => t.DateStart.Date == date.Date).ToList();
        StateHasChanged();
    }


    void OnSuccess(EventModel @event)
    {
        eventos.Add(@event);
        StateHasChanged();
    }

}