@page "/home"
@inject NavigationManager nav
<PageTitle>Home</PageTitle>

@if(!LIN.Access.Calendar.Session.IsOpen)
{
    Task.Run(()=> nav.NavigateTo("/"));
    return;
}

<div class="flex items-center justify-center w-full">

    <LIN.Calendar.Client.Shared.Calendar></LIN.Calendar.Client.Shared.Calendar>

</div>
